.title-container {
    display: block;
    padding: 6px 1px;
    z-index: 50;
    margin-bottom: 40px;
    max-width: 200px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 16px;
    border: 3px solid var(--M3-sys-light-tertiary-fixed, #DFED2C);
}

.title-content {
    z-index: 50;
    color: var(--M3-sys-light-on-surface, #1C1B1B);
    text-align: center;
    font-family: "Times New Roman";
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 44px;
}

@media (max-height: 800px) {
    .title-container {
        margin-bottom: 25px;
    }