.aboutme-page-container {
    width: 100%;
    max-width: 1512px;
    height: auto;
    margin: 0 auto;
    padding: 0 10px;
    background: #FCF9F7;
    position: relative
}

.amhline {
    position: absolute;
    height: 0.125rem;
    left: 0;
    width: 100%;
    background: #C7C7BF;
}

.amvline {
    position: fixed;
    top: 0;
    z-index: 1;
    height: 100vh;
    width: 0.125rem;
    background: #C7C7BF;
}

.amvline1 {
    right: 10vh;
}

.amvline2 {
    right: 20vh;
}

.amvline3 {
    right: 30vh;
}

.amhline1 {
    margin-top: -15vw;
}

.amhline2 {
    margin-top: -10vw;
}

.amhline3 {
    margin-top: -5vw;
}

.aboutme-card-container {
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    background: var(--M3-sys-light-surface, #FCF9F7);
    width: 90%;
    z-index: 10;
}

.aboutme-card {
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: center;
    width: 100%;
    height: auto;
    border-radius: 12px;
    gap: 24px;
    background: var(--M3-sys-light-surface-container-low, #F7F3F1);
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.30), 0px 1px 3px 1px rgba(0, 0, 0, 0.15);
    padding: 20px;
    z-index: 50;
}

.aboutme-image {
    width: 100%;
    max-width: 332px;
    z-index: 50;
    height: auto;
    margin-left: 0;
    flex-shrink: 0;
    border-radius: 16px;
    object-fit: cover;
}

.aboutme-card-content {
    z-index: 10;
    flex: 1;
    margin: 20px;
    max-height: 100%;
}

.aboutme-card-text {
    color: var(--M3-sys-light-on-surface, #1C1B1B);
    text-align: center;
    font-family: "Times New Roman";
    font-size: 18px;
    text-align: justify;
    max-height: 100%;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.experiences-section-container {
    margin-top: 98px;
    margin-bottom: 98px;
    margin-left: auto;
    margin-right: auto;
    background: var(--M3-sys-light-surface, #FCF9F7);
    width: 90%;
    z-index: 10;
}

.experiences-container {
    display: flex;
    flex-direction: column;
    gap: 103px;
}

.single-experience-container {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    gap: 40px;
}

.about-experience-container {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.about-experience-text-content {
    z-index: 30;
    border-radius: 32px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.experience-title {
    color: #000;
    text-align: start;
    background: #FCF9F7;

    font-family: "Times New Roman";
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    /* 127.273% */
}

.experience-period {
    color: #000;
    background: #FCF9F7;

    font-family: Helvetica;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0.4px;
}

.experience-description {
    align-self: stretch;
    color: #000;
    background: #FCF9F7;

    font-family: Helvetica;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.25px;
}

.experience-field-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    align-self: stretch;
    flex-wrap: wrap;
    gap: 20px;
}

.skills-section-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 98px;
    margin-bottom: 98px;
    margin-left: auto;
    margin-right: auto;
    background: var(--M3-sys-light-surface, #FCF9F7);
    width: 90%;
    z-index: 50;
}

.skills-grid {
    display: grid;
    max-width: 80%;
    margin-left: 10%;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px;
    justify-items: center;
    align-content: center;
}



@media (min-width: 800px) {
    .skills-grid {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (max-width: 800px) {
    .aboutme-page-container {
        max-width: 95%;
    }

    .skills-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .aboutme-card {
        display: flex;
        flex-direction: column;
        position: relative;
        gap: 4px;
        align-items: center;
        max-width: 85%;
        height: auto;
        border-radius: 12px;
        background: var(--M3-sys-light-surface-container-low, #F7F3F1);
        box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.30), 0px 1px 3px 1px rgba(0, 0, 0, 0.15);
        padding: 20px;
        z-index: 50;
    }

    .amvline1 {
        right: 2vh;
    }
    
    .amvline2 {
        right: 6vh;
    }
    
    .amvline3 {
        right: 10vh;
    }
    
    .amhline1 {
        margin-top: -40vw;
    }
    
    .amhline2 {
        margin-top: -30vw;
    }
    
    .amhline3 {
        margin-top: -20vw;
    }
    
    .aboutme-card-content {
        margin-top: 16px;
        margin-bottom: 0;
    }

    .aboutme-card-text {
        line-height: 24px;
    }

}

.last-element {
    margin-bottom: 150px;
}
