.contact-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 56px;
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
    background: var(--M3-sys-light-surface-container-low, #FCF9F7);
}

.contact-me-title-container {
    margin-top: 80px;
    margin-left: 72px
}

.contact-cards-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 72px;
    gap: 56px;
    padding: 0 32px;
    justify-content: center;
    width: 100%;
    max-width: 1200px;
}

.contact-card {
    display: flex;
    width: 192px;
    height: 192px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 12px;
    background: var(--M3-sys-light-surface-container-low, #F7F3F1);

    /* M3/Elevation Light/1 */
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.30), 0px 1px 3px 1px rgba(0, 0, 0, 0.15);
}


.cmphline {
    position: absolute;
    height: 0.125rem;
    left: 0;
    width: 100%;
    background: #C7C7BF;
}

.cmpvline {
    z-index: 1;
    position: fixed;
    height: 100vh;
    width: 0.125rem;
    top: 0;
    background: #C7C7BF;
}

.cmpvline1 {
    right: 10vh;
}

.cmpvline2 {
    right: 20vh;
}

.cmpvline3 {
    right: 30vh;
}

.cmphline1 {
    margin-top: 15vh;
}

.cmphline2 {
    margin-top: 25vh;
}

.cmphline3 {
    margin-top: 35vh;
}



@media (max-width: 768px) {
    .contact-cards-grid {
        flex-direction: column;
        gap: 24px;
        padding: 0 16px;
    }
}