.navbutton-container{
  display: flex;
  width: 93px;
  padding: 12px 0px 16px 0px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;
  flex-shrink: 0;
  cursor: pointer;
}

.icon-container {
  display: flex;
  width: 93px;
  padding: 12px 0px 16px 0px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;
  flex-shrink: 0;
}

.state-layer {
  display: flex;
  width: 64px;
  height: 32px;
  padding: 4px 20px;
  justify-content: center;
  align-items: center;
}

.selected {
  border-radius: 16px;
  background: var(--M3-sys-light-secondary-container, #313131);
}

.navbutton-label {
  align-self: stretch;
  color: var(--M3-sys-light-on-surface, #1C1B1B);
  text-align: center;
  font-family: Helvetica;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px; /* 133.333% */
  letter-spacing: 0.5px;
  text-decoration: none; /* Add this line to remove the underline */
}

.svg-navicon { 
  display: flex;
  width: 24px;
  height: 24px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}