.navbar-container { 
  display: flex;
  width: 476px;
  height: 80px;
  padding: 0px 16px;
  align-items: flex-start;
  gap: 24px;
  flex-shrink: 0;
  border-radius: 8px;
  background: var(--M3-sys-light-surface-container, #F1EDEB);
  box-shadow: 0px 4px 8px 3px rgba(0, 0, 0, 0.15), 0px 1px 3px 0px rgba(0, 0, 0, 0.30);
}

.navbar-container a {
  text-decoration: none; /* Add this line to remove the underline from links */
  color: inherit; /* Ensure the text color is inherited */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.segment1{
  display: flex;
  width: 5.8125rem;
  padding: 0.75rem 0rem 1rem 0rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
  flex-shrink: 0;
}